# Dependencies
node_modules
bower_components

# Build outputs
dist
build
coverage

# Minified files
*.min.js
*.min.css

public/
assets/

# Package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Renovate configuration
renovate.json
